@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.logo {
    width: 9.3vw;
    height: 6.5vh;
    padding-top: 1.3vh;
    margin-left: 3.1vw;
}

* {
    font-family: 'Inter', sans-serif;
    /* background: #F3F5FC; */
}

body{
    background: linear-gradient(180deg, rgba(128, 179, 242, 0.43) 0%, #E3E8F9 84.9%) no-repeat center center fixed;
}

main {
    display: flex;
    justify-content: space-evenly;

}

.text-area {
    position: absolute;
    left: 12vw;
    top: 10vh;
    border: none;
    width: 45vw;
    height: 60vh;
    font-weight: bolder;
    font-size: 1.5rem;
    outline: none;
    background-color: #ffffff00;
}

.warning-container {
    position: absolute;
    top: 74vh;
    left: 12vw;
}

.buttons-container {
    position: absolute;
    width: 53vw;
    height: 9.2vh;
    left: 10vw;
    top: 80vh;
}

button {
    border-radius: 1.5rem;
    width: 22vw;
    height: 8vh;
    border: 1px solid #0A3871;
    margin: 1.5vw;
}

.button-encriptar {
    background-color: #0A3871;
    color: #ffffff;
}

.button-desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.message-container{
    position: absolute;
    top: 5vh;
    width: 27.2vw;
    height: 85vh;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.output-text {
    display: none;
    position: absolute;
    top: 4vh;
    left: 1.02vw;
    width: 25.1vw;
    height: 60vh;
    border: none;
    background-color: #ffffff00;
    font-size: 1.5rem;
    text-align:center;
    outline: none;
}

.button-copy {
    position: absolute;
    top: 70vh;
    left: 1.02vw;
    background-color: #0A3871;
    color: #ffffff;
    display: none;
}
.message {
    display: none;
    position: absolute;
    top: 5vh;
    left: 1vw;
    width: 25vw;
    height: 85vh;
    
    border: none;
}

/* WIP */

/* WIP */

.message-img {
    margin-top: 8vh;
    width: 25vw;
}

.message-container p {
    text-align: center;
    font-size: 1rem;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}
